/*----------------------------------------------
  COLORS
-----------------------------------------------*/
$light-green: #61bdc2;
$middle-green: #4fa9ae;
$dark-green: #225e62;

$black: #394142;
$white: white;

/*----------------------------------------------
  OTHER
-----------------------------------------------*/
$border-radius: 20px;
