/*----------------------------------------------
  COLORS
-----------------------------------------------*/
$light-green: #69b1b5;
$middle-green: #56a4a9;
$dark-green: #225e62;

$pink: #fbd3c1;
$lime: #c8fbc1;

$black: #394142;
$gray: #a4a8a8;
$white: white;

/*----------------------------------------------
  OTHER
-----------------------------------------------*/
$border-radius: 20px;
